DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
UI_AI_EXPOSED_PORT=88
WITH_AI_IMAGE=false
SCP_GO_AI_TRAINING_HOST=192.168.10.225
SCP_GO_AI_TRAINING_PORT=5000
## 数据库连接
SCP_GO_AI_DB_HOST=
SCP_GO_AI_DB_PORT=
SCP_GO_AI_DB_USERNAME=
SCP_GO_AI_DB_PASSWORD=
SCP_GO_AI_DB_NAME=
CRON_AI_DB_HOST=
CRON_AI_DB_PORT=
CRON_AI_DB_USERNAME=
CRON_AI_DB_PASSWORD=
CRON_AI_DB_NAME=
DEEPE_RAG_DB_HOST=
DEEPE_RAG_DB_PORT=
DEEPE_RAG_DB_USERNAME=
DEEPE_RAG_DB_PASSWORD=
DEEPE_RAG_DB_NAME=

