SCP_AI_IMAGE_NAME=jianweisoft.cn/deep_e/deep_e_backend_image
SCP_AI_IMAGE_VERSION=7b4d7f23

UI_AI_IMAGE_NAME=jianweisoft.cn/deep_e/deep_e_ui_image
UI_AI_IMAGE_VERSION=42fe32e7

CRON_AI_IMAGE_NAME=jianweisoft.cn/deep_e/deep_e_cron_image
CRON_AI_IMAGE_VERSION=9c026af4

TRAINING_AI_IMAGE_NAME=jianweisoft.cn/deep_e/deep_e_python_image
TRAINING_AI_IMAGE_VERSION=59db4b33

RAG_IMAGE_NAME=jianweisoft.cn/deep_e/deep_e_rag_image
RAG_IMAGE_VERSION=edd8dbef