SCP_AI_IMAGE_NAME=
SCP_AI_IMAGE_VERSION=

UI_AI_IMAGE_NAME=
UI_AI_IMAGE_VERSION=

CRON_AI_IMAGE_NAME=
CRON_AI_IMAGE_VERSION=

TRAINING_AI_IMAGE_NAME=
TRAINING_AI_IMAGE_VERSION=

RAG_IMAGE_NAME=
RAG_IMAGE_VERSION=